a {
  color: inherit;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: absolute;
  top: 0;
  min-height: 100vh;
  padding-bottom: 70px
}

.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.propertyCard {
  width: 300px;
  height: 408px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
  transition: height 0.2s ease-in-out;
}

.propertyCardActive {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
  width: 300px;
  height: fit-content;
  transition: height 0.2s ease-in-out;
}

.banner {
  /* background-image: url('./assets/building.jpg'); */
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('./assets/building.jpg');
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}